[project]
	description = test of theme.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dannl
[access "refs/for/refs/*"]
	read = group user/dannl
	push = group user/dannl
	label-Code-Review = -2..+2 group user/dannl
	label-Verified = -1..+1 group user/dannl
	rebase = group user/dannl
	removeReviewer = group user/dannl
	submit = group user/dannl
[access "refs/heads/*"]
	read = group user/dannl
	create = group user/dannl
	push = +force group user/dannl
	pushMerge = group user/dannl
[access "refs/tags/*"]
	push = +force group user/dannl
	pushTag = group user/dannl
	pushSignedTag = group user/dannl
